<p>Usuario</p>

<div class="row mb-3">
    <div class="col-sm-12">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary" routerLinkActive="active" routerLink="nuevo">
            	Nuevo
            </button>
            <button type="button" class="btn btn-secondary" routerLinkActive="active" routerLink="edicion">
            	Edición
            </button>
            <button type="button" class="btn btn-secondary" routerLinkActive="active" routerLink="detalle">
            	Detalle
            </button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>